<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<select id="selectBuserAll" resultType="pack.model.BuserDto">
		select buser_no, buser_name from buser
	</select>
	
	<select id="selectPartGogek" resultType="pack.model.GogekDto">
		select gogek_no,gogek_name,gogek_tel,jikwon_name from gogek inner join jikwon 
		where gogek.gogek_damsano=jikwon_no and gogek_damsano in (select jikwon_no from jikwon where buser_num=#{buser_no})
		order by jikwon_name
	</select>
</mapper>